<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ToDo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>
<section class="hero is-info">
  <div class="hero-body">
    <p class="title">
      MZS Daily Reminder
    </p>
    <p class="subtitle">
      Stay organised, create a To-do list
    </p>
  </div>
</section>
<body>
  <div class="container is-max-widescreen section margin-bottom">
    <div class="hero">
      <h1 class="title">Create a comprehensize, and personalised secure to-do list</h1>
    </div>
  </div>
  {{{body}}}
  

</body>

</html>