
<main class="container">
  <div class="card m-5 columns">
    <header class="container">
       <h1 class="has-text-centered has-text-weight-bold is-size-1 m-5">Agenda</h1><br>
    </header>
    <section class="container is-half m-5">
      <form>
        <input id="additem" class="input" type="text">
        <button id="create" class="button is-info m-5">create</button>
      </form>
         <button id="delete" class="button is-info m-5">delete</button>
    </section> 

    <section class="container is-half m-5">
      <div class="menu">
        <p class="menu-label"> List</p>
        <ul id="items" class="menu-list">
          <li><p>Dashboard</p></li>
        </ul>
      </div>
    </section>
  </div>

</main>
<script src="home.js" defer></script>