
<div class="container">
<div class="columns is-mobile is-centered">
    <div class="column is-full card">
        <br>
        <header>
            <h1 class="has-text-centered has-text-weight-bold is-size-1">Sign in</h1><br>
        </header>
        <main class="container m-5">
            <h2>Username</h2>
            <form action="/authenticate" method="post">
                <section>
                    <input class="input" type="text" name="useName" id="useName">
                    <br>
                    <h3>Password</h3>
                    <input class="input" type="password" name="pwd" id="pwd">
                </section>
                <footer class="container mt-5">
                    <div class="container is-half">
                      <button id="submit" class="button is-info">Login</button>
                   </div>
                </footer>
            </form>
        </main>
    </div>
</div>
</div>


